<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h2>YO</h2>
	<ul>
		<%products.forEach(function(row){%>
			<li><%=row%></li>
			<li><%=row.PRODUCTID%> -<%=row.PRODUCTNAME%></li>
		<%})%>
	</ul>
</body>
</html>

