<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/login" method="post">
		<input type="text" name="email">
		<input type="text" name="password">
		<button type="submit" formmethod="post">Login</button>
	</form>
</body>
</html>